body {
  background-color: #4954860c;
}

h1 {
  text-align: center;
  margin-top: 40px;
  font-family: "Ephesis", cursive;
  font-size: 70px;
}

.rainAndSnowIcons {
  text-align: center;
}

.currentTemperature,
#temperature {
  text-align: center;
  margin-top: 40px;
  margin-left: 3%;
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  color: #2f2e41;
  font-size: 50px;
}

.units {
  position: relative;
  font-size: 12px;
  top: -25px;
}

#fahrenheit-link {
  color: rgb(137, 160, 200);
}

#fahrenheit-link:hover {
  cursor: pointer;
  color: #ffbd63;
}

#celsius-link {
  color: #2f2e41;
}

#celsius-link:hover {
  cursor: pointer;
  color: #ffbd63;
}

.current-time {
  text-align: center;
  font-size: 20px;
  margin-top: -20px;
}

.weather-type,
.current-date {
  text-align: center;
}

#description {
  font-weight: 200;
  font-size: 26px;
  text-transform: capitalize;
  margin-top: -10px;
  font-family: "Ephesis", cursive;
  color: rgb(137, 160, 200);
}

.current-date {
  font-size: 12px;
}

.current-icon {
  display: block;
}

.body-size-color {
  margin: 5% 30%;
  padding: 2% 2%;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.form-control {
  border: 1px solid #ffbd63;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.searching-head {
  position: relative;
  left: 20%;
  right: 10%;
}

.searchingCurrentLocation {
  display: block;
  margin: 0 auto;
  background-color: #4954860c;
  color: rgb(137, 160, 200);
  padding: 6px 14px;
  border: hidden;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  font-size: 18px;
}

.searchingCurrentLocation:hover {
  cursor: pointer;
  color: #ffba8c;
  background-color: white;
}

.searchingbutton {
  display: block;
  margin: 0 auto;
  background-color: #ffba8c;
  color: white;
  padding: 7px 13px;
  border: hidden;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}

.searchingbutton:hover {
  cursor: pointer;
  background-color: #4954860c;
  color: rgb(137, 160, 200);
}

.weather-informations {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.719);
  padding: 10px;
}

.card,
.card-body {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.719);
  text-align: center;
}

.forecastDays {
  font-size: 16px;
  font-weight: 300;
}

.forecastDates {
  font-size: 12px;
  margin-bottom: 10px;
}

.forecastTemperatures {
  margin-top: 5px;
}

.forescastTemperatureDay {
  font-size: 14px;
  font-weight: 300;
}

.forescastTemperatureNight {
  font-size: 14px;
}

.far {
  font-size: 28px;
  color: #2f2e41;
  transition: all 200ms ease-in-out;
}

.fa-sun,
.fa-cloud-sun,
.fa-cloud-moon,
.fa-cloud-moon-rain,
.fa-cloud-showers-heavy,
.fa-cloud-rain,
.fa-moon,
.fa-cloud,
.fa-smog {
  font-size: 28px;
  color: #2f2e41;
  transition: all 200ms ease-in-out;
}

.fa-cloud-sun-rain {
  font-size: 28px;
  color: #2f2e41;
  transition: all 200ms ease-in-out;
}

.fa-sun:hover,
.fa-cloud-sun:hover,
.fa-cloud-sun-rain:hover {
  color: #ffbd63;
}

.fa-cloud:hover,
.fa-smog:hover {
  color: #dbdada;
}

.fa-cloud-rain:hover,
.fa-cloud-showers-heavy:hover,
.fa-cloud-moon-rain:hover,
.fa-cloud-moon:hover,
.fa-moon:hover {
  color: rgb(137, 160, 200);
}

.far:hover {
  color: rgb(137, 160, 200);
}

.openSource {
  text-align: center;
  font-size: 12px;
}

.openSourceLink {
  color: rgb(137, 160, 200);
  text-decoration: none;
}

#rain-icon {
  color: #575a89;
}

#rain-icon:hover #rain-message {
  display: none;
}

#rain-icon:hover:before {
  font-size: 18px;
  color: #495486;
  text-align: center;
  font-family: "Ephesis", cursive;
  content: "It's probably raining outside. Take an umbrella.  ";
}

#snow-icon {
  color: #575a89;
}

#snow-icon:hover #snow-message {
  display: none;
}

#snow-icon:hover:before {
  font-size: 18px;
  color: #495486;
  text-align: center;
  font-family: "Ephesis", cursive;
  content: "It's probably snowing outside.  ";
}
